[submodule "includes/php-solunar"]
	path = includes/php-solunar
	url = https://github.com/bryankaraffa/php-solunar.git
[submodule "includes/heatmap-js"]
	path = includes/heatmap-js
	url = https://github.com/pa7/heatmap.js.git
