[submodule "includes/php-solunar"]
	path = includes/php-solunar
	url = git@github.com:bryankaraffa/php-solunar.git
[submodule "includes/heatmap-js"]
	path = includes/heatmap-js
	url = git@github.com:pa7/heatmap.js.git
